* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Livvic", sans-serif;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #014e56;
  padding-top: 77px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav__item:nth-child(2) {
  flex-grow: 1;
}

.nav__item:nth-child(3) a {
  padding: 10px 32px;
  border-radius: 24px;
  border: 2px solid white;
}

.nav__item {
  margin-left: 40px;
}
.nav__item a {
  color: white;
}

.nav__logo {
  margin-right: 40px;
}

.nav__burger {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

@media (max-width: 580px) {
  .nav__list {
    display: none;
  }
  .nav__burger {
    display: block;
  }
}
.hero {
  background-color: #014e56;
  padding-top: 133px;
  padding-bottom: 250px;
  background-image: url("../img/left.png"), url("../img/bott.png");
  background-repeat: no-repeat;
  background-position: left top 100px, bottom right 165px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.hero__title {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}
.hero__title span {
  color: #f67e7e;
}

.hero__text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  max-width: 445px;
}

.hero__text::before {
  content: "";
  width: 50px;
  height: 4px;
  background: #79c8c7;
  display: block;
  transform: translateY(-79px);
}

@media (max-width: 990px) {
  .hero__title {
    font-size: 70px;
    margin-left: 120px;
  }
}
@media (max-width: 830px) {
  .hero__inner {
    justify-content: center;
  }
  .hero__title,
  .hero__text {
    align-items: center;
  }
  .hero__text::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero {
    background-image: url("../img/bott.png");
    background-position: bottom center;
  }
  .hero__title {
    line-height: 56px;
  }
  .hero__text {
    font-size: 15px;
    margin-top: 30px;
  }
}
@media (max-width: 390px) {
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__text {
    font-size: 28px;
    text-align: center;
  }
}
.manage {
  background: #012f34;
  padding: 140px 0;
  background-image: url(../img/aspect_4.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.manage__title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
.manage__title::before {
  content: "";
  width: 50px;
  display: block;
  margin-bottom: 54px;
  height: 4px;
  background: #f67e7e;
}

.manage__list {
  display: flex;
  gap: 54px;
  justify-content: space-between;
  margin-left: 570px;
  margin-top: -154px;
  flex-direction: column-reverse;
}

.manage__item h4 {
  color: #f67e7e;
  margin-top: -80px;
  margin-left: 100px;
  font-size: 18px;
  width: 445px;
  font-weight: 700;
  line-height: 28px;
}
.manage__item p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
  margin-top: 15px;
  margin-left: 100px;
  line-height: 25px;
}

@media (max-width: 990px) {
  .manage__title {
    font-size: 38px;
    margin-top: -130px;
    margin-left: 50px;
  }
  .manage__title::before {
    margin-top: 30px;
  }
  .manage__list {
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
    margin-left: 140px;
  }
  .manage__item {
    width: 550px;
  }
}
@media (max-width: 768px) {
  .manage {
    background-image: url(../img/aspect_4.png);
    background-position: right top;
  }
  .manage__title {
    width: 600px;
    max-width: 90%;
    margin-top: -160px;
  }
  .manage__item {
    width: 570px;
    max-width: 100%;
  }
}
@media (max-width: 709px) {
  .manage__item {
    width: 570px;
    margin-left: -100px;
  }
  .manage__list {
    padding-left: 100px;
  }
}
.container_of_ul {
  margin-left: -100px;
}

@media (max-width: 375px) {
  .manage__list {
    flex-wrap: wrap;
  }
  .manage__item {
    text-align: center;
    margin-top: 100px;
  }
  .manage__item img {
    margin-left: 100px;
  }
  .manage__item h4 {
    margin-top: 20px;
    margin-left: -80px;
  }
}
.delivering {
  background: #004047;
  padding: 140px 0;
  background-image: url(../img/deliver_top.png), url(../img/deliver_bott.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.delivering__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.delivering__title span {
  color: #79c8c7;
}

.delivering__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}

.delivering__item {
  text-align: center;
  display: flex;
  max-width: 380px;
  flex-direction: column;
  padding: 0 15px;
  align-items: center;
  margin-top: 36px;
}
.delivering__item img {
  margin-top: 32px;
  width: 62px;
  height: 62px;
}
.delivering__item p {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}
.delivering__item p::before {
  content: "";
  width: 67px;
  height: 56px;
  display: block;
  background-image: url("../img/bgi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: -20px;
}
.delivering__item h4 {
  color: #79c8c7;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 24px;
}
.delivering__item i {
  color: white;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .delivering__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 790px) {
  .delivering__item {
    max-width: 80%;
  }
}
@media (max-width: 769px) {
  .delivering__title {
    font-size: 32px;
  }
}
@media (max-width: 471px) {
  .delivering__title {
    padding: 0 14px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }
  .delivering__item {
    max-width: 95%;
  }
}
.starting {
  background: #f67e7e;
  padding: 76px 0;
  background-image: url(../img/starting.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.starting__title {
  color: #012f34;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  padding: 0 263px;
}

.starting_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 260px;
  padding: 10px 32px;
  border-radius: 24px;
  border: 2px solid #012f34;
  width: 153px;
  height: 48px;
  font-size: 18px;
  padding: 10px 32px;
  font-weight: 600;
  line-height: 28px;
}

.starting__text {
  color: #012f34;
  padding: 10px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}/*# sourceMappingURL=main.css.map */