.aspects {
  background: #012f34;
  padding-top: 583px;
  height: 684px;
  background-image: url(../img/aspect_4.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.aspects_title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin-top: -342px;
  margin-left: 165px;
  position: absolute;
}
.aspects_title::before {
  content: "";
  margin-top: -58px;
  position: absolute;
  display: block;
  background: #f67e7e;
  width: 50px;
  height: 4px;
}
.aspect_img_1 {
  position: absolute;
  margin-left: 735px;
  margin-top: -328px;
}
.aspect_first_title {
  color: #f67e7e;
  font-size: 18px;
  margin-left: 828px;
  position: absolute;
  margin-top: -330px;
  font-weight: 700;
  line-height: 28px;
}
.aspect_first_text {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  opacity: 0.8;
  width: 445px;
  position: absolute;
  margin-left: 828px;
  margin-top: -284px;
}
.aspect_img_2 {
  position: absolute;
  margin-left: 735px;
  margin-top: -204px;
}

.aspect_second_title {
  color: #f67e7e;
  font-size: 18px;
  margin-left: 828px;
  position: absolute;
  margin-top: -206px;
  font-weight: 700;
  line-height: 28px;
}

.aspect_second_text {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  opacity: 0.8;
  width: 445px;
  position: absolute;
  margin-left: 828px;
  margin-top: -160px;
}
.aspect_img_3 {
  position: absolute;
  margin-left: 735px;
  margin-top: -80px;
}

.aspect_third_title {
  color: #f67e7e;
  font-size: 18px;
  margin-left: 828px;
  position: absolute;
  margin-top: -82px;
  font-weight: 700;
  line-height: 28px;
}

.aspect_third_text {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  opacity: 0.8;
  width: 445px;
  position: absolute;
  margin-left: 828px;
  margin-top: -36px;
}
@media (max-width: 768px) {
  .aspects {
    background-image: url("../img/aspect_4.png");
    background-position: right top;
  }
  .aspects_title {
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    margin-top: -440px;
    margin-left: 98px;
  }
  .aspects_title::before {
    font-size: 15px;
    position: absolute;
    margin-top: -30px;
  }
  .aspect_first {
    margin-left: -640px;
    margin-top: 30px;
  }
  .aspect_second {
    margin-left: -640px;
    margin-top: 30px;
  }
  .aspect_third {
    margin-left: -640px;
    margin-top: 30px;
  }
}
@media (max-width: 390px) {
  .aspects {
    height: 1073px;
  }
  .aspects_title {
    color: #fff;
    font-size: 32px;
    margin-left: 24px;
    width: 250px;
    font-weight: 700;
    line-height: 32px;
  }
  .aspect_img_1 {
    position: absolute;
    transform: translateX(80px);
    margin-top: -300px;
  }
  .aspect_first_title {
    width: 300px;
    margin-top: -220px;
    transform: translateX(-83px);
  }
  .aspect_first_text {
    width: 327px;
    text-align: center;
    margin-top: -190px;
    transform: translateX(-140px);
  }
  .aspect_img_2 {
    position: absolute;
    transform: translateX(80px);
    margin-top: -80px;
  }
  .aspect_second_title {
    width: 300px;
    margin-top: -10px;
    transform: translateX(-60px);
  }
  .aspect_second_text {
    width: 327px;
    text-align: center;
    margin-top: 20px;
    transform: translateX(-140px);
  }
  .aspect_img_3 {
    position: absolute;
    transform: translateX(80px);
    margin-top: 150px;
  }
  .aspect_third_title {
    width: 300px;
    margin-top: 230px;
    transform: translateX(-80px);
  }
  .aspect_third_text {
    width: 327px;
    text-align: center;
    margin-top: 260px;
    transform: translateX(-140px);
  }
}
