.starting {
  background: #f67e7e;
  padding: 76px 0;
  background-image: url(../img/starting.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  button {
    border-radius: 24px;
    border: 2px solid #012f34;
    color: #012f34;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    background-color: transparent;
    padding: 9px 32px;
    margin-top: -40px;
    float: right;
  }
}
.starting__title {
  color: #012f34;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
@media (max-width: 1435px) {
  .starting__title {
    margin-left: 150px;
  }
}
@media (max-width: 843px) {
  .starting {
    flex-wrap: wrap;
  }
  .starting__title {
    margin-left: 150px;
  }
  .starting {
    button {
      margin-top: 20px;
      margin-right: 350px;
      max-width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .starting {
    flex-wrap: wrap;
  }
  .starting__title {
    margin-left: 100px;
  }
  .starting {
    button {
      margin-top: 20px;
      margin-right: 250px;
      max-width: 100%;
    }
  }
}
@media (max-width: 375px) {
  .starting {
    flex-wrap: wrap;
  }
  .starting__title {
    margin-left: 100px;
    margin-top: 100px;
    transform: translateY(-130px);
  }
  .starting {
    button {
      margin-top: -100px;
      margin-right: 90px;
    }
  }
}
